<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.areAnalyticsEnabled</key>
	<true/>
	<key>pivotal.push.serviceUrl</key>
	<string>https://push-api.hellfire.cf-app.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>82c0b218-84d3-40f3-bc89-6a962c76285e</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>f8f82f2b-830c-4de1-aa88-24f8e0f6dbc4</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>82c0b218-84d3-40f3-bc89-6a962c76285e</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>f8f82f2b-830c-4de1-aa88-24f8e0f6dbc4</string>
	<key>pivotal.push.sslCertValidationMode</key>
	<string>trustall</string>
</dict>
</plist>
